streamlit
pandas
numpy
scikit-learn
fairlearn
shap
reportlab
chromadb
sentence-transformers
langchain
langchain-community
langchain-core
langchain-text-splitters
langgraph
transformers
accelerate
bitsandbytes
torch
